* {
  margin: 0;
  padding: 0;
}

.gabungan1 {
  width: 100%;
  display: flex;
  /* border: 4px solid rgb(255, 115, 0); */
}

.kiriNama {
  width: 40%;
  height: 40vh;
  display: flex;
  flex-flow: column nowrap;
  float: left;
  border: 5px solid rgb(117, 117, 194);
}

.fotodiri {
  width: 100%;
  height: 100%;
}

.kananNama{
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 7px solid grey;
  font-size: 20px;
}

.gabungan2{
  width: 100%;
  /* border: 5px solid red; */
  display: flex;
}

.kiriInfo{
  border: 3px solid orange;
  width: 40%;
}

.gender{
  border: 3px solid rgb(43, 94, 161);
  font-size: 16px;
}

.karir{
  border: 3px solid rgb(128, 78, 113);
  font-size: 16px;
}

.kananInfo{
  border: 5px solid black;
  width: 60%;
  font-size: 16px;
}

.gabungan3{
  width: 100%;
  /* border: 5px solid red; */
  display: flex;
}

.organisasi{
  margin-top: 5px;
}

.organisasi p{
  margin-left: 2px;
}

.center {
  text-align: center;
  margin-top: 20px; /* Atur jarak dari atas sesuai kebutuhan Anda */
}

.center button{
  width: 200px;
  height: 70px;
  font-size: 18px;
  font-weight: bold;
}